process {
    withName: run_validate {
        cpus = 1
        memory = 1.GB
    }
    withName: run_HaplotypeCaller_GATK {
        cpus = 6
        memory = 15.GB
    }
    withName: run_MergeVcfs_Picard {
        cpus = 1
        memory = 15.GB
    }
    withName: run_RealignerTargetCreator_GATK {
        cpus = 6
        memory = 15.GB
    }
    withName: run_IndelRealigner_GATK {
        cpus = 6
        memory = 15.GB
    }
    withName: run_BaseRecalibrator_GATK {
        cpus = 1
        memory = 72.GB
    }
    withName: run_ApplyBQSR_GATK {
        cpus = 1
        memory = 15.GB
    }
    withName: run_BuildBamIndex_Picard {
        cpus = 1
        memory = 5.GB
    }
    withName: run_MergeSamFiles_Picard {
        cpus = 1
        memory = 65.GB
    }
    withName: run_GetPileupSummaries_GATK {
        cpus = 1
        memory = 5.GB
    }
    withName: run_CalculateContamination_GATK {
        cpus = 1
        memory = 5.GB
    }
    withName: run_DepthOfCoverage_GATK {
        cpus = 1
        memory = 30.GB
    }
}
