process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
    }
    withName: run_HaplotypeCallerVCF_GATK {
        cpus = 3
        memory = 7.GB
    }
    withName: run_HaplotypeCallerGVCF_GATK {
        cpus = 3
        memory = 7.GB
    }
    withName: run_MergeVcfs_Picard {
        cpus = 1
        memory = 15.GB
    }
    withName: run_RealignerTargetCreator_GATK {
        cpus = 4
        memory = 10.GB
    }
    withName: run_IndelRealigner_GATK {
        cpus = 4
        memory = 10.GB
    }
    withName: run_BaseRecalibrator_GATK {
        cpus = 1
        memory = 500.GB
    }
    withName: run_ApplyBQSR_GATK {
        cpus = 1
        memory = 1.GB
    }
    withName: run_index_SAMtools {
        cpus = 1
        memory = 1.GB
    }
    withName: run_MergeSamFiles_Picard {
        cpus = 2
        memory = 2.GB
    }
    withName: run_GetPileupSummaries_GATK {
        cpus = 1
        memory = 5.GB
    }
    withName: run_CalculateContamination_GATK {
        cpus = 1
        memory = 5.GB
    }
    withName: run_DepthOfCoverage_GATK {
        cpus = 1
        memory = 10.GB
    }
    withName: remove_intermediate_files {
        cpus = 1
        memory = 1.GB
    }
    withName: extract_GenomeIntervals {
        cpus = 1
        memory = 1.GB
    }
    withName: run_SplitIntervals_GATK {
        cpus = 1
        memory = 1.GB
    }
    withName: run_reheader_SAMtools {
        cpus = 1
        memory = 1.GB
    }
    withName: calculate_sha512 {
        cpus = 1
        memory = 1.GB
    }
    withName: run_VariantRecalibratorSNP_GATK {
        cpus = 10
        memory = 10.GB
    }
    withName: run_VariantRecalibratorINDEL_GATK {
        cpus = 10
        memory = 10.GB
    }
    withName: run_ApplyVQSR_GATK {
        cpus = 10
        memory = 10.GB
    }
    withName: filter_gSNP_GATK {
        cpus = 10
        memory = 10.GB
    }
}
