process {
    withName: run_validate {
        cpus = 1
        memory = 1.GB
    }
    withName: run_GenomicsDBImport_GATK {
        cpus = 2 
        memory = 15.GB
    }
    withName: run_HaplotypeCaller_GATK {
        cpus = 1
        memory = 15.GB
    }
    withName: run_GenotypeGVCFs_GATK {
        cpus = 1
        memory = 5.GB
    }
    withName: run_SortVcf_GATK {
        cpus = 1
        memory = 15.GB
    }
    withName: run_MergeVcfs_GATK {
        cpus = 1
        memory = 15.GB
    }
}
