process {
    cpus = { methods.check_max( 1 * task.attempt, 'cpus' ) }

    errorStrategy = { task.exitStatus in [247, 143, 137, 104, 134, 139] ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel:process_low {
        cpus = { retry.retry_updater( 2, 'add', 0, task.attempt, 'cpus' ) }
        memory = { retry.retry_updater( 3.GB, 'exponential', 2, task.attempt, 'memory' ) }
    }
    withLabel:process_medium {
        cpus = { retry.retry_updater( 6, 'add', 0, task.attempt, 'cpus' ) }
        memory = { retry.retry_updater( 42.GB, 'exponential', 2, task.attempt, 'memory' ) }
    }
    withLabel:process_high {
        cpus = { retry.retry_updater( 12, 'add', 0, task.attempt, 'cpus' ) }
        memory = { retry.retry_updater( 84.GB, 'exponential', 2, task.attempt, 'memory' ) }
    }
}
