import nextflow.util.SysHelper

// Default inputs/parameters of the pipeline
params {
    min_cpus = 1
    min_memory = 1.MB

    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()

    gatk_command_mem_diff = 0.GB

    ucla_cds = true

    cache_intermediate_pipeline_steps = false

    docker_container_registry = "ghcr.io/uclahs-cds"

    gatk_version = "4.2.4.1"
    picard_version = "2.26.10"
    pipeval_version = "3.0.0"
    gatkfilter_version = "v1.0.0"
    docker_image_gatk = "broadinstitute/gatk:${params.gatk_version}"
    docker_image_picard = "${-> params.docker_container_registry}/picard:${params.picard_version}"
    docker_image_pipeval = "${-> params.docker_container_registry}/pipeval:${params.pipeval_version}"
    docker_image_gatkfilter = "${-> params.docker_container_registry}/gatk:${params.gatkfilter_version}"

    emit_all_confident_sites = false
}

// Process specific scope
process {
    // Process results are stored to local cache.
    // If pipeline is launched with the 'resume' option, existing cache results will be used when available
    // rather than re-executing processes
    cache = true

    executor = 'local'
    
    // Other directives or options that should apply for every process

    // total amount of resources avaible to the pipeline
    cpus = params.max_cpus
    memory = params.max_memory
}

// Enable Docker and configure docker-related options like user and group IDs
docker {
    enabled = true
    // Pass user's UID/GID and group IDs to Docker
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"

    runOptions = "${uid_and_gid} ${all_group_ids}"
}
