import nextflow.util.SysHelper

docker {
    enabled = true

    // Pass user's UID/GID and group IDs to Docker
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"

    runOptions = "${uid_and_gid} ${all_group_ids}"
}

params {
    ucla_cds = true

    gatk_command_mem_diff = 0.GB
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()

    cache_intermediate_pipeline_steps = false

    docker_container_registry = "ghcr.io/uclahs-cds"

    gatk_version = "4.2.4.1"
    pipeval_version = "2.1.6"
    picard_version = "2.26.10"
    gatkfilter_version = "v1.0.0"
    gatk3_version = "GATK-3.7.0"
    samtools_version = "1.12"
    docker_image_gatk = "broadinstitute/gatk:${params.gatk_version}"
    docker_image_validate = "${-> params.docker_container_registry}/validate:${params.pipeval_version}"
    docker_image_picard = "${-> params.docker_container_registry}/picard:${params.picard_version}"
    docker_image_gatkfilter = "${-> params.docker_container_registry}/gatk:${params.gatkfilter_version}"
    docker_image_gatk3 = "${-> params.docker_container_registry}/call-gsnp:${params.gatk3_version}"
    docker_image_samtools = "${-> params.docker_container_registry}/samtools:${params.samtools_version}"
    gatk_ir_compression = 0
}

process {
    executor = "local"
}
