process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
    }
    withName: extract_GenomeIntervals {
        cpus = 1
        memory = 1.GB
    }
    withName: run_SplitIntervals_GATK {
        cpus = 1
        memory = 1.GB
    }
    withName: run_HaplotypeCallerGVCF_GATK {
        cpus = 2
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_CombineGVCFs_GATK {
        cpus = 2
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_GenotypeGVCFs_GATK {
        cpus = 2
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_MergeVcfs_Picard_VCF {
        cpus = 1
        memory = 15.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_MergeVcfs_Picard_GVCF {
        cpus = 1
        memory = 15.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_VariantRecalibratorSNP_GATK {
        cpus = 10
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_VariantRecalibratorINDEL_GATK {
        cpus = 10
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_ApplyVQSR_GATK_SNP {
        cpus = 10
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_ApplyVQSR_GATK_INDEL {
        cpus = 10
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: filter_gSNP_GATK {
        cpus = 1
        memory = 5.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: filter_XY_Hail {
        cpus = 1
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
}
