process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
    }
    withName: check_deletion_status {
        cpus = 1
        memory = 1.GB
    }
    withName: run_HaplotypeCallerVCF_GATK {
        cpus = 3
        memory = 7.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_HaplotypeCallerGVCF_GATK {
        cpus = 3
        memory = 7.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_MergeVcfs_Picard_VCF {
        cpus = 1
        memory = 15.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_MergeVcfs_Picard_GVCF {
        cpus = 1
        memory = 15.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_RealignerTargetCreator_GATK {
        cpus = 6
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_IndelRealigner_GATK {
        cpus = 6
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 4
            }
        }
    }
    withName: run_BaseRecalibrator_GATK {
        cpus = 1
        memory = 72.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_ApplyBQSR_GATK {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_index_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_index_SAMtools_normal {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_index_SAMtools_tumour {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_MergeSamFiles_Picard {
        cpus = 2
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: deduplicate_records_SAMtools {
        cpus = 2
        memory = 4.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_GetPileupSummaries_GATK {
        cpus = 1
        memory = 5.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_CalculateContamination_GATK {
        cpus = 1
        memory = 5.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_DepthOfCoverage_GATK {
        cpus = 1
        memory = 10.GB
    }
    withName: run_DepthOfCoverage_GATK_normal {
        cpus = 1
        memory = 10.GB
    }
    withName: run_DepthOfCoverage_GATK_tumour {
        cpus = 1
        memory = 10.GB
    }
    withName: remove_intermediate_files {
        cpus = 1
        memory = 1.GB
    }
    withName: extract_GenomeIntervals {
        cpus = 1
        memory = 1.GB
    }
    withName: run_SplitIntervals_GATK {
        cpus = 1
        memory = 1.GB
    }
    withName: run_SplitIntervals_GATK_targeted {
        cpus = 1
        memory = 1.GB
    }
    withName: run_reheader_SAMtools {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 9.GB
            }
        }
    }
    withName: run_reheader_SAMtools_normal {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 9.GB
            }
        }
    }
    withName: run_reheader_SAMtools_tumour {
        cpus = 1
        memory = 1.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 9.GB
            }
        }
    }
    withName: calculate_sha512 {
        cpus = 1
        memory = 1.GB
    }
    withName: run_VariantRecalibratorSNP_GATK {
        cpus = 10
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_VariantRecalibratorINDEL_GATK {
        cpus = 10
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: run_ApplyVQSR_GATK {
        cpus = 10
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
    withName: filter_gSNP_GATK {
        cpus = 10
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
            }
        }
    }
}
